# CODEOWNERS info: https://help.github.com/en/articles/about-code-owners
# Owners are automatically requested for review for PRs that changes code
# that they own.
*  @joshua-goldstein @mangalaman93 @harshil-goel @all-seeing-code
